<!DOCTYPE html>
<html>
  <head>
    <title>RailsKadai2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
<!--ホーム、ログイン画面、垢新規作成、ロケーション毎のホテル一覧、ロケーション検索結果、キーワード検索結果、ホテル詳細-->
<!--予約内容確認、予約一覧、予約編集画面、アカウント情報、アカウント情報編集、プロフィール編集、プロフィール情報-->
<!--施設登録、自分の登録施設一覧、自分の施設編集-->